<!--
    Citation for the following function:
    Date: 06/07/2024
    Copied from 
    nodejs starter app on github for crud
    source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Authors: George Kochera, Cortona1, currym-osu, dmgs11
    
    
    Citation for the following function:
    Date: 06/07/2024
    Copied from 
    HTML <input type="number"> where min = 1.
    https://www.w3schools.com/tags/att_input_type_number.asp
    Author: W2 Schools
    
-->

<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Trainers</h1>
       <nav class='global'>
        <a href='/'>Home Page </a>
        <a href='/trainers'>Trainers</a>
        <a href='/members'>Members</a>
        <a href='/exercises'>Exercises</a>
        <a href='/training_sessions'>Training Sessions</a>
        <a href='/session_exercises'>Session Exercises</a>
    </nav>
</header>


{{!-- Create a table --}}
<table id="trainer-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Trainer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Experience in Year(s)</th>
            <th>Title</th>
        </tr>
    </thead>

   {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the member_id, member_first_name, member_last_name, member_address and member_phone, in order --}}
        {{#each data}}
            <td>{{this.trainer_id}}</td>
            <td>{{this.trainer_first_name}}</td>
            <td>{{this.trainer_last_name}}</td>
            <td>{{this.experience}}</td>
            <td>{{this.title}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table using standard HTML forms --}}
<h2>Add Trainer</h2>
<p>To add a new trainer, please enter their information below and click `Submit`!</p>
<form id="add-trainer-form" method="POST" action="/add-trainer-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-experience">Experience: </label>
    <input type="number" name="input-experience" id="input-experience"  min="1" >

    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title">

    <input type="submit">
</form> 

